@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// Coded By Rui?

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

div {
    background-color: lightgreen;
    width: 300px;
    border: 15px solid lightblue;
    padding: 50px;
    margin: 20px;
}

/* Add styles for the light mode here */
.light-mode {
    background-color: white;
    color: black;
}

      /* Add styles for the dark mode here */
.dark-mode {
    background-color: #121212;
    color: white;
}

